    <section id="Waykup" class="fixed f1">
      <%= image_tag("logo/waykup.png") %>
      <h1>T’es pas toi sans Jésus !</h1>
    </section> <!-- fixed -->

    <section id="Types" class="scrolling s3">
      <div class="container">
        <h2>
          Waykup est le groupe de jeunes (13-18 ans) du <a href="https://bullenetwork.ch/" target="_blank">Bulle Network</a>.
        </h2>
        <h3>Nous avons 3 types de soirées</h3>
        <div class="activities">
          <div class="activity">
            <p>Waykup</p>
          </div>
          <div class="activity">
            <p>Waykup Art</p>
          </div>
          <div class="activity">
            <p>O2Vie</p>
          </div>
        </div>
        <p>
          Chaque 2e et 4e samedi du mois, nous avons nos soirées Waykup dites "officielles". Ces soirées commencent à 19h par un repas et se terminent à 22h.<br>
          Durant ces soirées nous avons des débats, des témoignages, des enseignements et surtout beaucoup de fun !
        </p>
        <p>
          Waykup Art est un projet dont le but est de partager la bonne nouvelle au travers des arts.<br>
          Ces soirées ont lieu tous les premiers samedis du mois de 20h à 22h.
        </p>
        <p>
          O2Vie est un tout nouveau projet que nous soutenons. Ce sont des soirées qui se passent à Châtel St-Denis chaque 3e samedi du mois.<br>
          Pour plus d'informations sur ces soirées, veuillez contacter la responsable du projet O2Vie : Fannie Blakaj (fannie.blakaj@bullenetwork.ch)
        </p>
      </div> <!-- container -->
    </section> <!-- scrolling -->

    <section id="vision" class="fixed f3">
      <h2>Mission, vision, valeurs</h2>
    </section> <!-- fixed -->

    <section id="mission" class="scrolling cd-color-1">
      <div class="container">
        <h3>Notre mission</h3>
        <p>
          Nous manifestons la puissance libératrice de Jésus-Christ parmi la jeunesse et faisons croître Son royaume au-delà du canton de Fribourg.
        </p>
        <h3>Notre vision</h3>
        <p>
          Nous formons des disciples en Christ porteurs de la Bonne Nouvelle et actifs dans leur église. Nous enseignons et équipons les jeunes pour qu'ils puissent affronter leur futur en toute sérénité en étant eux-même des influenceurs dans leur génération.
        </p>
        <h3>Nos valeurs</h3>
        <div class="activities">
          <div class="vision">
            <p>L'encouragement</p>
          </div>
          <div class="vision">
            <p>La foi</p>
          </div>
          <div  class="vision">
            <p>L'amitié</p>
          </div>
        </div>
      </div> <!-- container -->
    </section> <!-- scrolling -->

    <section id="soirées" class="fixed f2">
      <h2>Une soirée tous les samedis soirs !</h2>
    </section> <!-- fixed -->

    <section id="programme" class="scrolling cd-color-2 s2">
      <div class="container">
        <h3>Voici le programme de nos prochaines soirées :</h3>
        <p>
          <center>
            <%= image_tag("programs/debut2020V2.jpg") %>
          </center>
        </p>
      </div> <!-- container -->
    </section> <!-- scrolling -->

    <section id="shop" class="fixed f5">
      <h2>Nos fringues t'intéressent ? </br>
        Viens faire un tour sur <a href="/shop">notre boutique</a> !
      </h2>
    </section>

    <section id="event" class="scrolling s3">
      <div class="container">
        <h2>Nos événements</h2>
        <p>Pour plus d'informations sur les événements auxquels nous participons, nous avons une <a href="/event">page</a> rien que pour ça.</p>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="footer">
        <div class="form">
          <form method="post" action="https://formspree.io/myyyndyk">
            <input type="text" name="nom" id="nom" required="required" placeholder="Nom*"/>
            <input type="text" name="prénom" id="prénom" required="required" placeholder="Prénom*"/>
            <input type="email" name="email" id="email" required="required" placeholder="Email*"/>
            <textarea type="text" name="message" rows="5" cols="35" placeholder="Message*" required="required"></textarea>
            <input id="submit" type="submit" value="Envoyer"/>
          </form>
        </div>
        <div class="contactInfo">
          <%= link_to image_tag("icons/mailIcon.png", class: "footLink"), "mailto:elie.hausmann@bullenetwork.ch" %>
          <%= link_to image_tag("icons/BNIcon.png", class: "footLink"), "https://bullenetwork.ch/" %>
          <%= link_to image_tag("icons/instagramIcon.png", class: "footLink2"), "https://www.instagram.com/waykup.gdj/?hl=fr" %>
        </div>
      </div>
      <iframe class="map" width="100%" height="40%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2083.8713239602675!2d7.06776166564967!3d46.62337367358031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x196a5299ace58a5e!2sEglise+%C3%A9vang%C3%A9lique+de+Bulle!5e0!3m2!1sen!2sch!4v1448208148855" allowfullscreen></iframe>
    </section>